<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="appointment-lists">
        <h1>List of Appointments</h1>
        <div class="appointments">
            <form action="/" method="POST" class="appointment-header">
                <input type="text" name="name" value="name">
                <input type="text" name="date" value="date">
                <input type="text" name="time" value="time">
                <input type="text" name="phone" value="phone">
                <input type="text" name="email" value="email">
                <button type="submit"><span class="fa-regular fa-plus">Add Appointment</span></button>
            </form>
            <ul class="appointment-results">
                <% listOfAppointment.forEach(result => {%>
                    <li class="appointment-items">
                        <div class="name-of-appointment">
                            <%= result.name %>
                        </div>
                        <div class="date-of-appointment">
                            <%= result.date %>
                        </div>
                        <div class="time-of-appointment">
                            <%= result.time %>
                        </div>
                        <div class="phone-number">
                            <%= result.phone %>
                        </div>
                        <div class="email">
                            <%= result.email %>
                        </div>
                        <a href="/edit/<%=result._id %>" class="edit"><span class="fa-solid fa-pen-to-square"></span></a>
                        <a href="/remove/<%=result._id %>" class="remove"><span class="fa-solid fa-trash"></span></a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</body>
</html>